---
page_id: connect
layout: connect
title: Connect
nav_level: top
nested_pages: team
---

<h1>How can I connect with MAC?</h1>

<section class="ways-to-connect">
	<a name="join-email-list">
		<div id="contact-form">
			<h3>You can join our email list...</h3>
			<p>We'll let you know about upcoming volunteer trainings, fundraiser events like our MAC'n'cheese off, and other ways to get involved.</p>
			{% include mailchimp.html %}
		</div>
	</a>
</section>


<section class="ways-to-connect">
	<h3 id="facebook-text">Follow us on Facebook...</h3>
	<div class="social-widgets">
		{% include facebook.html %}
	</div>
</section>

<section class="ways-to-connect">
	<div class="social-widgets">
		<h3 id="twitter-text">Show us some love on Twitter...</h3>
		{% include twitter.html %}
	</div>
</section>

<section class="ways-to-connect">
	<div class="social-widgets">
		{% include email_us.html %}
	</div>
</section>
