---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for resource in site.categories.resources %}
      {{ resource.output }}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<!-- THIS BREAKS THE HOME PAGE -->
  {% for announcement in site.categories.announcements %}
    <p>{{announcement.output}}</p>
  <div class="post">
    <h3 class="title"><a href="{{ announcement.url }}">{{ site.collections.announcements }}</a></h3>
    <p class="meta">Date: {{ announcement.date }}</p>
<!--     <div class="entry">
      {{ announcement.content | strip_html | truncatewords: 100 }}
    </div> -->
  </div>
  {% endfor %}
<!-- END -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
</div>
