---
title: Resources
layout: page

---

<h3>These organizations are awesomes resources for those who need abortion access.</h3>


<div>

{% assign sorted_resource_posts = site.categories.resources | sort: 'title', 'last' %}
{% for post in sorted_resource_posts %}
   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

<!-- <ul>
	{% for resource in site.categories.resources %}
		<li>
	  	<a href="{{ resource.link }}"> {{ resource.title }} </a>
	  	<p class="description">{{ resource.content }}</p>
	  </li>
	{% endfor %}
</ul>
 -->
</div>