<nav class="site-nav">
  <a href="#" class="nav-label glyphicon glyphicon-menu-hamburger">
  </a>
  <div class="trigger nav">
    <ul class="nav nav-items">
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" data-toggle="dropdown" href="about.html" role="button" aria-haspopup="true" aria-expanded="false">about</a>
        <ul class="dropdown-menu">
          <li><a href="overview.html">overview</a></li>
          <li><a href="team.html">team</a></li>
          <li><a href="faq.html">faq</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="how-it-works.html">how it works</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="support.html">get support</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" data-toggle="dropdown" href="how-to-help.html" role="button" aria-haspopup="true" aria-expanded="false">how to help</a>
        <ul class="dropdown-menu">
          <li><a href="volunteer.html">volunteer</a></li>
          <li><a href="how-to-help.html">join the coalition</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="donate.html">donate</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="connect.html">connect</a>
      </li>
    </ul>
  </div>
</nav>
