<script type="text/javascript">
  $(".open_form").click(function(){
    $(".slideHide").hide("fast");
      $(".volunteer").show("fast");
		});
	$(".close_form").click(function() {
		$(".volunteer").hide("fast");
		$(".slideHide").show("fast");
		});
</script>

<button class=".open_form">Open</button>

<div class="volunteer">
  <iframe src="https://docs.google.com/forms/d/1dJvcyD2yniHZTCvl9-JJdOsOMjAlfMBo5cknFGPXqdI/viewform?embedded=true" width="100%" height="750px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>