<!-- Begin MailChimp Signup Form -->
<div id="volunteer_sign_up">
  <form action="//space.us11.list-manage.com/subscribe/post?u=6b300b2f798aae6df9eae9249&amp;id=dc4c534c43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="volunteer_signup_scroll">

    	<h2>Want to get involved?</h2>
      <h3>Fill out the form below to see how you can contribute.</h3>
      
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

      <div class="mc-field-group">
      	<label for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
      	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>

      <div class="mc-field-group">
      	<label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
      	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
      </div>

      <div class="mc-field-group">
      	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
      	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
      </div>

      <div class="mc-field-group input-group">
        <strong>Are you interested in hosting a guest?  <span class="asterisk">*</span></strong>
          <ul>
            <li>
              <input type="radio" value="Yes" name="HOST" id="mce-HOST-0">
              <label for="mce-HOST-0">Yes</label>
            </li>
          <li>
            <input type="radio" value="No" name="HOST" id="mce-HOST-1">
            <label for="mce-HOST-1">No</label>
          </li>
          <li>
            <input type="radio" value="Maybe" name="HOST" id="mce-HOST-2">
            <label for="mce-HOST-2">Maybe</label>
          </li>
        </ul>
      </div>

      <div class="mc-field-group input-group">
        <strong>Are you interested in being a driver for MAC?<span class="asterisk">*</span></strong>
        <ul>
          <li>
            <input type="radio" value="Yes" name="DRIVER" id="mce-DRIVER-0">
            <label for="mce-DRIVER-0">Yes</label>
          </li>
          <li>
            <input type="radio" value="No" name="DRIVER" id="mce-DRIVER-1">
            <label for="mce-DRIVER-1">No</label>
          </li>
          <li>
            <input type="radio" value="Maybe" name="DRIVER" id="mce-DRIVER-2">
            <label for="mce-DRIVER-2">Maybe</label>
          </li>
        </ul>
      </div>

      <div class="mc-field-group input-group">
        <strong>Are you interested in attending a future event?<span class="asterisk">*</span></strong>
        <ul>
          <li>
            <input type="radio" value="Yes" name="ATTEND" id="mce-ATTEND-0">
            <label for="mce-ATTEND-0">Yes</label>
          </li>
          <li>
            <input type="radio" value="No" name="ATTEND" id="mce-ATTEND-1">
            <label for="mce-ATTEND-1">No</label>
          </li>
          <li>
            <input type="radio" value="Maybe" name="ATTEND" id="mce-ATTEND-2">
            <label for="mce-ATTEND-2">Maybe</label>
          </li>
        </ul>
      </div>

      <div class="mc-field-group input-group">
        <strong>Would you like to help organize a future event?<span class="asterisk">*</span></strong>
        <ul>
          <li>
            <input type="radio" value="Yes" name="ORGANIZE" id="mce-ORGANIZE-0">
            <label for="mce-ORGANIZE-0">Yes</label>
          </li>
          <li>
            <input type="radio" value="No" name="ORGANIZE" id="mce-ORGANIZE-1">
            <label for="mce-ORGANIZE-1">No</label></li>
          <li>
            <input type="radio" value="Maybe" name="ORGANIZE" id="mce-ORGANIZE-2">
            <label for="mce-ORGANIZE-2">Maybe</label>
          </li>
        </ul>
      </div>

    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_6b300b2f798aae6df9eae9249_dc4c534c43" tabindex="-1" value="">
      </div>

      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

    </div>
  </form>
</div>

<!--End mc_embed_signup-->