// HOME PAGE SPECIFIC

#learn-more-btn {
    margin: 1.5em auto;
    a {
        font-size: 1.3em;
        margin-left: 20%;
        font-weight: bold;
    }
}


// SITE NAV

.trigger-nav {
    float: right;
    display: inline-block;
}

.site-nav {
    display: block;
    line-height: 56px;
    // border: $chartreuse solid 1px;
    // padding: 0 10px;

    .menu-icon {
        display: none;
        background-color: $off-white;
    }

    .page-link {
        @include box-link-styles;
        &:hover {
            padding-top: 20px;
        }

        // Gaps between nav items, but not on the first one
        // &:not(:first-child) {
        //     margin-left: 20px;
        // }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        left: 30px;
        background-color: $background-color;
        // border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: left;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

// DROPDOWN

#container{
    position: absolute;
    z-index: 1001;
}
a.mainNav{
    color: White;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    float: left;
    background-color: #1D3E66;
}
a.mainNav:hover{
    background-color: #3D6199;
    color: #AAAAAA;
}
a.selectedRollover{
    color: White;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    float: left;
    background-color: #3D6199;
}
.rolloverMenu{
    float:left;
    padding: 10px 10px 6px 10px;
    position: absolute;
    z-index: 1000;
    background-color: #3D6199;
    width: 100px;
}
.rolloverMenu#mainMenu{
    top: 40px;
}
.rolloverMenu a{
    color: White;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}
// END DROPDOWN

// END NAV


/**
 * Site header
 */

.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // min-height: 56px;

    // Positioning context for the mobile navigation icon
    padding-top: 20px;
    position: relative;
    width: 100%;
    img {
        float: left;
    }
    .trigger-nav {
        float: right;
    }
    // .top-fixed-btns {
    //     @include box-link-styles;
    //     // float: right;
    //     display: block;
    //     position: fixed;
    //     right: 20px;
    //     top: 20px;
    //     margin-left: 20px;
    //     &:nth-child(2) {
    //         top: 80px;
    //         @include media-query($on-palm) {
    //             right: 150px;
    //             top: 9px;
    //         }
    //     }
    //     @include media-query($on-palm) {
    //         top: 9px;
    //     }
    // }
    @include media-query($on-palm) {
        background-color: $off-white;
        border-bottom: $chartreuse solid 2px;
        img {
            display: none;
        }
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    // float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    @extend %clearfix;
    @include media-query($on-palm) {
        margin-left: 100px;
    }
}


/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.wrapper .page-content {
    background-color: $background-color;
    margin: 30px 40px;
    border: $chartreuse-border;
    width: 90%;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

@media (min-width: 1200px){
  .sidebar {
    position: absolute;
    right: 3%;
    .sidebar-content {

    }
  }
}

@media (max-width: 1200px){
  .sidebar {
      display: none
  }
}

.content-box {
    background-color: $background-color;
    border: $chartreuse-border;
    margin: 30px;
    padding: 20px;
}



/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


// WIDGETS

// #facebook-iframe {
//     float:
// }

#email-us-button {
    // background-color: blue;
}

.social-widgets {
    p {
        padding: 2em;
    }
}

.ways-to-connect {
    // padding: 2em;
    // margin: 1em auto;
    &:hover {
        background-color: $coral;
    }
    &:after {
        @include clearfix;
    }
}

section.ways-to-connect div.social-widgets {
    h3 {
        color: $purple;
        font-size: 1.5em;
        display: inline-block;
    }
}

#facebook-text {
    margin-right: 1.5em;
}

#twitter {
    // max-width: 70%;
    // float: right;
}

#twitter-text {
    // float: left;
    // max-width: 30%;
    text-align: center;
    margin: 1em 0;
}
// END WIDGETS

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-nav {
    display: inline-block;
    li {
        list-style: none;
    }
}

.contact-list {
    list-style: none;
}

.paypal-footer {
    float: right;
}

.social-media-list {
    list-style: none;
    float: right;
    li {
        display: inline-block;
        padding: .75em;
        border-radius: 50%;
        float: right;
        margin: .5em .25em;
        background-color: lighten($chartreuse, 20%);
        &:hover {
            background: $purple;
        }
        // Why does this not work?
        // a span.icon svg path{
        //     color: $purple;
        // }
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    // background: yellow;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-5 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



// Sticky footer code from http://www.themaninblue.com/writing/perspective/2005/08/29/

html
{
height: 100%;
}

body
{
height: 100%;
}

#nonFooter
{
position: relative;
min-height: 100%;
}

* html #nonFooter
{
height: 100%;
}

#content
{
// padding-bottom: 9em;
}

#footer
{
position: relative;
margin-top: -2em;
background: $chartreuse;
}
