.trigger-nav {
    float: right;
    display: inline-block;
}

.site-nav {
    display: block;
    line-height: 56px;
    // border: $chartreuse solid 1px;
    // padding: 0 10px;

    .menu-icon {
        display: none;
        background-color: $off-white;
    }

    .page-link {
        @include box-link-styles;
        &:hover {
            padding-top: 20px;
        }

        // Gaps between nav items, but not on the first one
        // &:not(:first-child) {
        //     margin-left: 20px;
        // }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        left: 30px;
        background-color: $background-color;
        // border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: left;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}