aside {
  width: 150px;
  height: 620px;
  overflow: scroll;
  background: $background-color;
  border: $chartreuse-border;
  border-radius: 5px;
  padding: $spacing-unit .5em;
}
@media (min-width: 1200px) {
  .sidebar {
    position: absolute;
    right: 3%;
    .sidebar-content {}
  }
}
@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
